/*************************************************************************************
* Input Elements
************************************************************************************/

.vp-input-container {
  box-sizing: border-box;
  position: relative;
  min-width: 100%;
  padding: 10px;
  height: 46px;
  max-height: 46px;
  min-height: 46px;
  border-width: 1px;
  border-color: #bcc0c2;
  border-style: solid;
}

.vp-input-container.textarea {
  height: auto;
  max-height: inherit;
}

.vp-input-container input,
.vp-input-container textarea {
  background: transparent;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  margin: 0;
  border-width: 0;
  border: 0 !important;		
  outline: none;	
  padding: 0;
}

.vp-input-container input:focus,
.vp-input-container textarea:focus {
  outline: none;
}

.vp-input-container.dark {
  border-width: 1px;
  border-color: #212e35;
}

.vp-input-container label {
  position: absolute;
  top: 14px;
  left: 10px;
  color: #a6abae;
  display: block;
  cursor: text;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  transform-origin: 0% 100%;
  text-align: initial;
  padding: 0 5px;
}

.vp-input-container label.active {
  color: #636c71;
  transform: translateY(-20px) scale(0.8);
  transform-origin: 0 0;
  background: #fff;
  font-weight: bold;
}

.vp-input-container i {
  position: absolute;
  color: #666;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

.vp-input-container .v-icon-close-circle {
  left: unset;
  right: 10px;
  cursor: pointer;
  display: none;
}

.vp-input-container input:focus,
.vp-input-container textarea:focus,
.vp-input-container input:not(:placeholder-shown),
.vp-input-container textarea:not(:placeholder-shown){
  padding-top: 4px;
}